{% extends 'main_page.html' %}
{% load static %}

{% block title %}
    <title>Редагування сторінки</title>
{% endblock %}

{% block styles %}
    <style>

        .ck-editor__editable[role="textbox"] {
            /* editing area */
            min-height: 200px;
            min-width: 100%;
        }
    </style>
{% endblock %}

{% block content_header %}
    <h1>Редагування сторінки</h1>
{% endblock %}

{% block main_content %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h5 style="font-size: 18px; color: grey">Редагування сторінка "Послуги"</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form id="service-update-form" method="post" action="{% url 'service-front-update' %}" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="row" style="margin-bottom: 15px; margin-top: 10px;">
                    <h5 style="border-bottom: 1px solid rgba(0,0,0,.125); padding-bottom: 10px;">Послуги</h5>
                </div>
                <div class="row" id="service-object-list">
                    {{ service_front_object_formset.management_form }}
                    {% for service in service_front_object_formset.forms %}
                        <div class="col-md-4">
                            <h6 class="float-left">Послуга {{ forloop.counter }}</h6>
                            <button class="btn btn-danger float-right delete-service" type="button"><i class="fa fa-trash"></i></button>
                            <img id="{{ service.photo.auto_id }}-display" class="img-responsive" width="100%" height="200px;" {% if not service.instance.photo %}src="{% static 'all_logos/empty-photo.png' %}"{% else %}src="{{ service.instance.photo.url }}"{% endif %} style="margin-top: 8px;" onchange="loadFile(event, this.id)">
                            <div class="form-group">
                                <label class="form-label" for="{{ service.photo.auto_id }}">Рекомендований розмір: (650х300)</label>
                                <input type="file" accept="image/*" id="{{ service.photo.auto_id }}" name="{{ service.photo.html_name }}" value="{{ service.instance.photo }}" style="display: block;">
                            </div>
                            <div class="form-group">
                                <label for="{{ service.title.auto_id }}" class="form-label">Назва послуги</label>
                                <input type="text" class="form-control" id="{{ service.title.auto_id }}" name="{{ service.title.html_name }}" onchange="fieldIsValid(this)">
                            </div>
                            <div class="form-group">
                                <label for="{{ service.description.auto_id }}" class="form-label">Опис послуги</label>
                                <div id="parent-{{ service.description.auto_id }}">
                                    <div id="editor-{{ service.description.auto_id }}">{{ service.instance.description|safe }}</div>
                                </div>
                                <div hidden="hidden" id="insert-into-{{ service.description.auto_id }}"></div>
                                <p id="{{ service.description.auto_id }}-errors" style="color: red;"></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div hidden="hidden" class="col-md-4" id="{{ service_front_object_formset.empty_form.photo.auto_id }}-parent">
                    <h6 class="float-left">Послуга</h6>
                    <button class="btn btn-danger float-right delete-service" type="button"><i class="fa fa-trash"></i></button>
                    <img id="{{ service_front_object_formset.empty_form.photo.auto_id }}-display" class="img-responsive" width="100%" height="200px;" src="{% static 'all_logos/empty-photo.png' %}" style="margin-top: 8px;">
                    <div class="form-group">
                        <label class="form-label" for="{{ service_front_object_formset.empty_form.photo.auto_id }}">Рекомендований розмір: (650х300)</label>
                        <input type="file" accept="image/*" id="{{ service_front_object_formset.empty_form.photo.auto_id }}" name="{{ service_front_object_formset.empty_form.photo.html_name }}" style="display: block;">
                    </div>
                    <div class="form-group">
                        <label for="{{ service_front_object_formset.empty_form.title.auto_id }}" class="form-label">Назва послуги</label>
                        <input type="hidden" class="form-control" id="{{ service_front_object_formset.empty_form.title.auto_id }}" name="{{ service_front_object_formset.empty_form.title.html_name }}" onchange="fieldIsValid(this)">
                        <p id="{{ service_front_object_formset.empty_form.title.auto_id }}-errors" style="color: red;"></p>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Опис послуги</label>
                        <div id="parent-empty-{{ service_front_object_formset.empty_form.description.auto_id }}">
                            <div id="editor-empty-{{ service_front_object_formset.empty_form.description.auto_id }}"></div>
                        </div>
                        <div hidden="hidden" id="insert-into-{{ service_front_object_formset.empty_form.description.auto_id }}"></div>
                        <p id="{{ service_front_object_formset.empty_form.description.auto_id }}-errors" style="color: red;"></p>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px; margin-top: 10px;">
                    <h5 style="border-bottom: 1px solid rgba(0,0,0,.125); padding-bottom: 10px;">Налаштування SEO</h5>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="{{ seo_form.title.auto_id }}">Title</label>
                        <input type="text" class="form-control" id="{{ seo_form.title.auto_id }}" {% if seo_form.instance.title %}value="{{ seo_form.instance.title }}"{% endif %} name="{{ seo_form.title.html_name }}" onchange="fieldIsValid(this)">
                        <p id="{{ seo_form.title.auto_id }}-errors" style="color: red;"></p>
                    </div>
                    <div class="form-group">
                        <label for="{{ seo_form.description.auto_id }}">Description</label>
                        <textarea rows="6" class="form-control" id="{{ seo_form.description.auto_id }}" name="{{ seo_form.description.html_name }}" onchange="fieldIsValid(this)">{% if seo_form.instance.description %}{{ seo_form.instance.description }}{% endif %}</textarea>
                        <p id="{{ seo_form.description.auto_id }}-errors" style="color: red;"></p>
                    </div>
                    <div class="form-group">
                        <label for="{{ seo_form.keywords.auto_id }}">Keywords</label>
                        <textarea rows="6" class="form-control" id="{{ seo_form.keywords.auto_id }}" name="{{ seo_form.keywords.html_name }}" onchange="fieldIsValid(this)">{% if seo_form.instance.keywords %}{{ seo_form.instance.keywords }}{% endif %}</textarea>
                        <p id="{{ seo_form.keywords.auto_id }}-errors" style="color: red;"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button type="reset" class="btn btn-default">Скасувати</button>
                        <button type="button" class="btn btn-success add-service-object">Додати послугу</button>
                        <button type="submit" class="btn btn-success" onclick="formIsValid()">Зберегти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('#service-update-form').find('div[id*="editor-id_service-object"]').each(function () {
        ClassicEditor.create(document.getElementById($(this).attr('id')));
    })

    const SERVICE_TOTAL_FORMS = $('#id_service-object-TOTAL_FORMS');
    $('.add-service-object').on('click', function () {
        let empty_form = $('div#id_service-object-__prefix__-photo-parent').clone();
        let total_forms = SERVICE_TOTAL_FORMS.val();

        empty_form.find('h6').html(`Послуга ${parseInt(total_forms) + 1}`);
        empty_form.find('label[for="id_service-object-__prefix__-photo-display"]').attr('for', `id_service-object-${total_forms}-photo-display`);
        empty_form.find('#id_service-object-__prefix__-photo-display').attr('id', `id_service-object-${total_forms}-photo-display`);

        empty_form.find('label[for="id_service-object-__prefix__-photo"]').attr('for', `id_service-object-${total_forms}-photo`);
        empty_form.find('#id_service-object-__prefix__-photo').attr('name', `service-object-${total_forms}-photo`);
        empty_form.find('#id_service-object-__prefix__-photo').attr('onchange', `loadFile(event, this.id)`);
        empty_form.find('#id_service-object-__prefix__-photo').attr('id', `id_service-object-${total_forms}-photo`);

        empty_form.find('#id_service-object-__prefix__-title').attr('type', `text`);
        empty_form.find('#id_service-object-__prefix__-title').attr('name', `service-object-${total_forms}-title`);
        empty_form.find('#id_service-object-__prefix__-title').attr('id', `id_service-object-${total_forms}-title`);
        empty_form.find('#id_service-object-__prefix__-title-errors').attr('id', `id_service-object-${total_forms}-title-errors`);

        empty_form.find('label[for="id_service-object-__prefix__-photo-display"]').attr('for', `id_service-object-${total_forms}-photo-display`);
        empty_form.find('#parent-empty-id_service-object-__prefix__-description').attr('id', `parent-id_service-object-${total_forms}-description`);
        empty_form.find('#editor-empty-id_service-object-__prefix__-description').attr('id', `editor-id_service-object-${total_forms}-description`);

        empty_form.find('#insert-into-id_service-object-__prefix__-description').attr('id', `insert-into-id_service-object-${total_forms}-description`);

        empty_form.find(`button`).attr('onclick', 'deleteService(this)');
        empty_form.find(`button`).attr('id', `id_service-object-${total_forms}-photo-delete`);

        empty_form.attr('id', `id_service-object-${total_forms}-photo-parent`);
        empty_form.removeAttr('hidden');
        empty_form.find(`#id_service-object-__prefix__-description-errors`).attr('id', `id_service-object-${total_forms}-description-errors`);

        SERVICE_TOTAL_FORMS.attr('value', parseInt(total_forms) + 1);
        $('#service-object-list').append(empty_form);
        ClassicEditor.create(document.getElementById(`editor-id_service-object-${total_forms}-description`));
    })

    function deleteService(element) {
        Swal.fire({
            title: 'Ви впевнені?',
            text: "Після видалення елемент неможливо буде повернути!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#A9A9A9',
            cancelButtonText: 'Скасувати',
            confirmButtonText: 'Видалити'
            }).then((result) => {
                if (result.isConfirmed) {
                    $(`#${element.id}`).parent().remove();
                }
            })
    }

    function formIsValid() {
        event.preventDefault();
        let isValid = true;

        $('#service-update-form').find('div[id*="parent-id_service-object"]').each(function () {
            let object_id = ($(this).attr('id')).replace('parent-', '');
            if ($(`#${$(this).attr('id')} .ck-editor__editable[role="textbox"]`).html() === '<p><br data-cke-filler="true"></p>'){
                $(`#${object_id}-errors`).text('Поле не може бути пустим');
                isValid = false;
            }
            else {
                $(`#${object_id}-errors`).text('');
            }
        })

        $(`#service-update-form`).find('input[type!="hidden"][class!="ck-hidden"][type!="checkbox"]').each(function() {
            if (!$(this).attr('id').includes('ck-') && !fieldIsValid(this)) {
                isValid = false;
            }
        });

        if (!fieldIsValid(document.getElementById('id_seo-description'))) {
            isValid = false;
        }

        if (!fieldIsValid(document.getElementById('id_seo-keywords'))) {
            isValid = false;
        }

        if (isValid) {
            $('#service-update-form').find('div[id*="parent-id_service-object"]').each(function () {
                let insert_into = ($(this).attr('id')).replace('parent-', 'insert-into-');
                $(`#${insert_into}`).append(`<textarea id="${insert_into.replace('insert-into-', '')}" name="${insert_into.replace('insert-into-', '').replace('id_', '')}">${$(`#${$(this).attr('id')} .ck-editor__editable[role="textbox"]`).html()}</textarea>`)
            })
            $('#service-update-form').submit();
            return true;
        }
        else {
            return false;
        }
    }
</script>
{% endblock %}