{% extends 'main_page.html' %}
{% load static %}

{% block content_header %}
    {% if object %}
    <h1>Тариф: {{ object.name }}</h1>
    {% else %}
    <h1>Новий тариф</h1>
    {% endif %}

{% endblock %}

{% block main_content %}
    <div class="card">
        <div class="card-body">
            <form id="form-tariff" method="post" action="{% if object %}{% url 'tariff-update' pk=object.pk %}{% else %}{% url 'tariff-create' %}{% endif %}">
                {% csrf_token %}
                <div class="col-xs-12 col-lg-7" style="margin-bottom: 20px;">
                    <div class="row">
                        <label for="{{ form.name.auto_id }}">Назва тарифу</label>
                        <input type="text" class="form-control" id="{{ form.name.auto_id }}" name="{{ form.name.html_name }}" onchange="fieldIsValid(this)" {% if object %}value="{{ object.name }}"{% endif %} {% if tariff_to_copy %}value="{{ tariff_to_copy.name }}"{% endif %}>
                        <p id="{{ form.name.auto_id }}-errors" style="color: red;"></p>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <label for="{{ form.description.auto_id }}">Опис тарифу</label>
                        <textarea class="form-control" id="{{ form.description.auto_id }}" name="{{ form.description.html_name }}" onchange="fieldIsValid(this)" rows="3">{% if object %}{{ object.description }}{% endif %}{% if tariff_to_copy %}{{ tariff_to_copy.description }}{% endif %}</textarea>
                        <p id="{{ form.description.auto_id }}-errors" style="color: red;"></p>
                    </div>
                    <button class="btn btn-default add-tariff_service" type="button" style="margin-top: 4%;">Добавити послугу</button>

                    <div class="row" id="tariff_service-list">
                        {% for tariff_service in formset %}
                            <div id="{{ tariff_service.service.auto_id }}-tariff-parent" class="row" style="margin-top: 2%;">
                                {{ tariff_service.id }}
                                <div class="col-xs-6 col-md-4">
                                    <div class="form-group">
                                        <label for="{{ tariff_service.service.auto_id }}">Послуга</label>
                                        <select class="form-select" id="{{ tariff_service.service.auto_id }}" onchange="changedService(this)" name="{{ tariff_service.service.html_name }}">
                                            <option value="none">Вибрати...</option>
                                            {% for service in services %}
                                                <option value="{{ service.id }}" {% if service.id == tariff_service.instance.service.id %}selected{% endif %}>{{ service.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <p id="{{ tariff_service.service.auto_id }}-errors" style="color: red;"></p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <div class="form-group">
                                        <label for="{{ tariff_service.price.auto_id }}">Ціна</label>
                                        <input class="form-control" step="0.01" type="number" id="{{ tariff_service.price.auto_id }}" name="{{ tariff_service.price.html_name }}" value="{{ tariff_service.instance.price }}" onchange="fieldIsValid(this)">
                                        <p id="{{ tariff_service.price.auto_id }}-errors" style="color: red;"></p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-2">
                                    <div class="form-group">
                                        <label for="currency">Валюта</label>
                                        <input type="text" disabled id="currency" value="{{ tariff_service.instance.currency }}"  class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <label for="{{ tariff_service.service.auto_id }}-measurement-unit">Од. вим.</label>
                                    <div class="input-group">
                                        <select disabled id="{{ tariff_service.service.auto_id }}-measurement-unit" class="form-select">
                                            <option value="none">Вибрати...</option>
                                            {% for service in services %}
                                                <option value="{{ service.pk }}" {% if service.id == tariff_service.instance.service.id %}selected{% endif %}>{{ service.measurement_unit.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="input-group-append">
                                            <button id="{{ tariff_service.service.auto_id }}-delete_button" type="button" class="btn btn-default self-delete-button-exists">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if tariff_to_copy %}
                            {% for tariff_service in tariff_to_copy.tariffservice_set.all %}
                                <div id="id_form-{{ forloop.counter0 }}-service_tariff-parent" class="row" style="margin-top: 2%;">
                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                            <label for="id_form-{{ forloop.counter0 }}-service">Назва послуги</label>
                                            <select id="id_form-{{ forloop.counter0 }}-service" name="form-{{ forloop.counter0 }}-service" onclick="changedService(this)" class="form-select">
                                                <option value="none">Вибрати...</option>
                                                {% for service in services %}
                                                <option value="{{ service.pk }}" {% if service.pk == tariff_service.service.pk %}selected{% endif %}>{{ service.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <p id="id_form-{{ forloop.counter0 }}-service-errors" style="color: red;"></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="form-group">
                                            <label for="id_form-{{ forloop.counter0 }}-price">Ціна</label>
                                            <input id="id_form-{{ forloop.counter0 }}-price" name="form-{{ forloop.counter0 }}-price" value="{{ tariff_service.price|floatformat:2 }}" class="form-control" type="number" step="0.01" onchange="fieldIsValid((this))">
                                            <p id="id_form-{{ forloop.counter0 }}-price-errors" style="color: red;"></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        <div class="form-group">
                                            <label for="currency">Валюта</label>
                                            <input type="text" disabled id="currency" value="грн" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="form-group">
                                            <label for="id_form-{{ forloop.counter0 }}-service-measurement-unit">Од. вим.</label>
                                            <div class="input-group-append">
                                                <select id="id_form-{{ forloop.counter0 }}-service-measurement-unit" name="form-{{ forloop.counter0 }}-service--measurement-unit" disabled class="form-select">
                                                    <option value="none">Вибрати...</option>
                                                    {% for service in services %}
                                                    <option value="{{ service.pk }}" {% if service.pk == tariff_service.service.pk %}selected{% endif %}>{{ service.measurement_unit.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="input-group-append">
                                                    <button type="button" class="btn btn-default self-delete-button" id="id_form-{{ forloop.counter0 }}-delete_button">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    {% if not tariff_to_copy %}
                    {{ formset.management_form }}
                    {% else %}
                    <input type="hidden" name="form-TOTAL_FORMS" value="{{ tariff_to_copy.tariffservice_set.all.count }}" id="id_form-TOTAL_FORMS">
                    <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
                    <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
                    <input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
                    {% endif %}
                    <div id="empty-form" class="row" style="display: none;">
                        <div class="col-xs-6 col-md-4">
                            <div class="form-group">
                                <label for="{{ formset.empty_form.service.auto_id }}">Послуга</label>
                                <select class="form-select" id="{{ formset.empty_form.service.auto_id }}" onclick="changedService(this)" name="{{ formset.empty_form.service.html_name }}">
                                    <option value="none">Вибрати...</option>
                                    {% for service in services %}
                                        <option value="{{ service.id }}">{{ service.name }}</option>
                                    {% endfor %}
                                </select>
                                <p id="{{ formset.empty_form.service.auto_id }}-errors" style="color: red;"></p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label for="{{ formset.empty_form.price.auto_id }}">Ціна</label>
                                <input class="form-control" step="0.01" type="number" id="{{ formset.empty_form.price.auto_id }}" name="{{ formset.empty_form.price.html_name }}" onchange="fieldIsValid(this)">
                                <p id="{{ formset.empty_form.price.auto_id }}-errors" style="color: red;"></p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label for="currency">Валюта</label>
                                <input type="text" disabled id="currency" value="грн"  class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <label for="{{ formset.empty_form.service.auto_id }}-measurement-unit">Од. вим.</label>
                            <div class="input-group">
                                <select disabled id="{{ formset.empty_form.service.auto_id }}-measurement-unit" class="form-select">
                                    <option value="none">Вибрати...</option>
                                    {% for service in services %}
                                        <option value="{{ service.pk }}">{{ service.measurement_unit.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-default self-delete-button">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="reset" class="btn btn-default" style="margin-right: 15px;">Відмінити</button>
                        <button type="submit" class="btn btn-success" onclick="formIsValid(event)">Зберегти</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>

    let TOTAL_FORMS = $(`#id_form-TOTAL_FORMS`);

    $('.add-tariff_service').on('click', function () {
        let total_forms = parseInt(TOTAL_FORMS.attr('value'));
        let empty_form = $('#empty-form').clone();
        empty_form.find('label[for="id_form-__prefix__-service"]').attr('for', `id_form-${total_forms}-service`);
        empty_form.find('#id_form-__prefix__-service').attr('name', `form-${total_forms}-service`);
        empty_form.find('#id_form-__prefix__-service').attr('id', `id_form-${total_forms}-service`);

        empty_form.find('#id_form-__prefix__-service-errors').attr('id', `id_form-${total_forms}-service-errors`);

        empty_form.find('label[for="id_form-__prefix__-service-measurement-unit"]').attr('for', `id_form-${total_forms}-service-measurement-unit`);
        empty_form.find('#id_form-__prefix__-service-measurement-unit').attr('id', `id_form-${total_forms}-service-measurement-unit`);

        empty_form.find('#id_form-__prefix__-price').attr('name', `form-${total_forms}-price`);
        empty_form.find('#id_form-__prefix__-price').attr('id', `id_form-${total_forms}-price`);
        empty_form.find('label[for="id_form-__prefix__-price"]').attr('for', `id_form-${total_forms}-price`);

        empty_form.find('#id_form-__prefix__-price-errors').attr('id', `id_form-${total_forms}-price-errors`);

        empty_form.find('.self-delete-button').attr('id', `id_form-${total_forms}-delete_button`)

        empty_form.attr('id', `id_form-${total_forms}-service_tariff-parent`);
        empty_form.css('margin-top', '2%');
        empty_form.css('display', '');

        $('#id_form-TOTAL_FORMS').attr('value', total_forms + 1);
        $('#tariff_service-list').append(empty_form);
    })

    $(document).on('click', 'button.self-delete-button', function () {
        Swal.fire({
            title: 'Ви впевнені?',
            text: "Після видалення послугу неможливо буде повернути!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#A9A9A9',
            cancelButtonText: 'Скасувати',
            confirmButtonText: 'Видалити'
            }).then((result) => {
                if (result.isConfirmed) {
                    let div_to_delete = ($(this).attr('id')).replace('delete_button', 'service_tariff-parent');
                    $(`#${div_to_delete}`).remove();
                }
            })
    })

    $(document).on('click', 'button.self-delete-button-exists', function () {
        Swal.fire({
            title: 'Ви впевнені?',
            text: "Після видалення послугу неможливо буде повернути!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#A9A9A9',
            cancelButtonText: 'Скасувати',
            confirmButtonText: 'Видалити'
            }).then((result) => {
                let id_button = $(this).attr('id');
                let id_to_delete = $(`#${($(this).attr('id')).replace('service-delete_button', 'id')}`).attr('value');
                if (result.isConfirmed) {
                    $.ajax({
                            url: `/configuration/tariff-service/delete/${id_to_delete}`,
                            type: 'DELETE',
                            headers: {
                                'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()
                            },
                            success: function (response) {
                                if (response['answer'] === 'success') {
                                    let div_to_delete = id_button.replace('delete_button', 'tariff-parent');
                                    $(`#${div_to_delete}`).remove();
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'success',
                                        title: 'Успішно видалено!',
                                        showConfirmButton: false,
                                        timer: 1200,
                                    })
                                }
                                else {
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'error',
                                        title: 'Щось пішло не так!',
                                        showConfirmButton: false,
                                        timer: 1200
                                    });
                                }
                            }
                        })
                }
            })
    })

    function changedService(element) {
        let selectedService = $(element).children("option:selected").val();
        $(`#${element.id}-measurement-unit > option`).each(function() {
            $(this).removeAttr('selected');
        });
        $(`#${element.id}-measurement-unit option[value=${selectedService}]`).attr('selected', 'selected');
        fieldIsValid(element)
    }

    function formIsValid(e) {
        e.preventDefault();
        let isValidName = true;
        let isValidDescription = true;
        let isValidService = true;
        let isValidPrice = true;

        $(`#form-tariff`).find(`input[id$='-name']`).each(function() {
            if (!fieldIsValid(this)) {
                isValidName = false;
            }
        });

        $(`#form-tariff`).find(`textarea[id$='-description']`).each(function() {
            if (!textTypeValidation(this)) {
                isValidDescription = false;
            }
        });

        $(`#tariff_service-list`).find(`select[id$='-service']`).each(function() {
            if (!selectElementValidation(this)) {
                isValidService = false;
            }
        });

        $(`#tariff_service-list`).find(`input[id$='-price']`).each(function() {
            if (!fieldIsValid(this)) {
                isValidPrice = false;
            }
        });

        if (isValidName && isValidDescription && isValidService && isValidPrice) {
            $(`form#form-tariff`).submit();
            return true;
        }
        else {
            return false;
        }
    }

</script>
{% endblock %}