{% extends 'main_page.html' %}
{% load static %}

{% block title %}
    <title>Користувачі</title>
{% endblock %}

{% block content_header %}
    <h1>Користувачі</h1>
{% endblock %}

{% block main_content %}
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-sm-12 text-right">
            <a href="{% url 'user-create' %}" class="btn btn-success">Створити користувача</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="row">
                <table id="user-table" class="table table-hover table-borderless">
                    <thead>
                        <tr>
                            <th style="vertical-align: top;">#</th>
                            <th>Користувач <input type="text" class="form-control"></th>
                            <th>Роль <input type="text" class="form-control"></th>
                            <th>Телефон <input type="text" class="form-control"></th>
                            <th>Email (логін) <input type="text" class="form-control"></th>
                            <th>Статус <input type="text" class="form-control"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr role="button" data-href="{% url 'user-detail' pk=object.pk %}" id="{{ object.id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ object.name }} {{ object.surname }}</td>
                                <td>{{ object.role.get_role_display }}</td>
                                <td>{% if object.phone %}{{ object.phone }}{% else %}не указано{% endif %}</td>
                                <td>{{ object.email }}</td>
                                <td>{% if object.status == 'new' %}<span class="badge badge-warning">{{ object.get_status_display }}</span>
                                    {% elif object.status == 'active' %}<span class="badge badge-success">{{ object.get_status_display }}</span>
                                    {% else %}<span class="badge badge-danger">{{ object.get_status_display }}</span>{% endif %}</td>
                                <td class="text-right">
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-default btn-sm" title="Редагувати" href="{% url 'user-update' pk=object.pk %}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <button id="{{ object.pk }}" type="button" class="btn btn-default btn-sm delete-user" title="Видалити">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('button.delete-user').on('click', function (event) {
        event.stopPropagation();
        Swal.fire({
            title: 'Ви впевнені?',
            text: "Після видалення користувача неможливо буде повернути!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#A9A9A9',
            cancelButtonText: 'Скасувати',
            confirmButtonText: 'Видалити'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                            url: `delete/${$(this).attr('id')}`,
                            type: 'GET',
                            success: function (response) {
                                if (response['answer'] === 'success') {
                                    $(event.target).closest('tr').remove();
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'success',
                                        title: 'Успішно видалено!',
                                        showConfirmButton: false,
                                        timer: 1200,
                                    })
                                }
                                else {
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'error',
                                        title: 'Щось пішло не так!',
                                        showConfirmButton: false,
                                        timer: 1200
                                    });
                                }
                            }
                        })
                }
            })
    })

    $(document).ready(function () {
        $('#user-table').DataTable({
            ordering: false,
            dom: 'rtp',
            language: {
                paginate: {
                    "previous": "<<",
                    "next": ">>"
                }
            },
            columns: [
                null,
                {'data': 'Користувач'},
                {'data': 'Роль'},
                {'data': 'Телефон'},
                {'data': 'Email (логін)'},
                {'data': 'Статус'},
                null
            ],
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let that = this;

                        $('input[type="text"]', this.header()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
            },
        });
    })
</script>
{% endblock %}