{% extends 'main_page.html' %}
{% load static %}

{% block title %}
    <title>Квартири</title>
{% endblock %}

{% block content_header %}
    <h1>Квартири</h1>
{% endblock %}

{% block main_content %}
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-sm-12 text-right">
            <a href="{% url 'flat-create' %}" class="btn btn-success">Створити квартиру</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <table id="flat-table" class="table table-borderless table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>№ квартири <input type="text" class="form-control"></th>
                            <th>Будинок <input type="text" class="form-control"></th>
                            <th>Секція <input type="text" class="form-control"></th>
                            <th>Поверх <input type="text" class="form-control"></th>
                            <th>Власник <input type="text" class="form-control"></th>
                            <th>Залишок (грн) <input type="text" class="form-control"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flat in object_list %}
                            <tr role="button" data-href="{% url 'flat-detail' flat_pk=flat.pk %}">
                                <td>{{ flat.number }}</td>
                                <td>{{ flat.house.name }}</td>
                                <td>{{ flat.section.name }}</td>
                                <td>{{ flat.floor.name }}</td>
                                <td>{% if not flat.owner %}(не задано){% else %}{{ flat.owner.name }} {{ flat.owner.surname }}{% endif %}</td>
                                <td {% if flat.subtraction > 0 %}style="color: #109302;" {% elif flat.subtraction < 0 %}style="color: #a20000;"{% endif %}>{% if flat.personalaccount %}{{ flat.subtraction|floatformat:2 }} грн{% else %}(немає рахунку){% endif %}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a href="{% url 'flat-update' flat_pk=flat.pk %}" class="btn btn-default">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <button id="{{ flat.pk }}" type="button" class="btn btn-default delete-flat">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('button.delete-flat').on('click', function (event) {
        event.stopPropagation();
        Swal.fire({
            title: 'Ви впевнені?',
            text: "Після видалення квартиру неможливо буде повернути!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#A9A9A9',
            cancelButtonText: 'Скасувати',
            confirmButtonText: 'Видалити'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                            url: `delete/${$(this).attr('id')}/`,
                            type: 'GET',
                            success: function (response) {
                                if (response['answer'] === 'success') {
                                    $(event.target).closest('tr').remove();
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'success',
                                        title: 'Успішно видалено!',
                                        showConfirmButton: false,
                                        timer: 1200,
                                    })
                                }
                                else {
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'error',
                                        title: 'Щось пішло не так!',
                                        showConfirmButton: false,
                                        timer: 1200
                                    });
                                }
                            }
                        })
                }
            })
    })

    $(document).ready(function () {
        $('#flat-table').DataTable({
            ordering: false,
            dom: 'rtp',
            language: {
                paginate: {
                    "previous": "<<",
                    "next": ">>"
                }
            },
            columns: [
                {'data': '№ квартири'},
                {'data': 'Будинок'},
                {'data': 'Секція'},
                {'data': 'Поверх'},
                {'data': 'Власник'},
                {'data': 'Залишок (грн)'},
                null
            ],
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let that = this;

                        $('input[type="text"]', this.header()).on('keyup change clear', function () {
                            console.log(this.id)
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
            },
        });
    })
</script>
{% endblock %}