{% extends 'main_page.html' %}
{% load static %}

{% block content_header %}
    <h1>{% if object.type == 'income' %}Прихідна{% else %}Розхідна{% endif %} відомість</h1>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-6" style="display: flex; justify-content: flex-start;">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-append" style="background-color: #fff; border: 1px solid #ccc; padding: 6px 12px;">
                        №
                    </div>
                    <div class="form-control">{{ object.number }}</div>
                </div>
            </div>
            <span style="margin: 8px 15px 0 15px;">
                від
            </span>
            <div class="form-group">
                <div class="input-group date" id="datepicker-first">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-default" >
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                    <div class="form-control">{{ object.created_at|date:'d.m.Y' }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h5 style="font-size: 18px; color: grey">{% if object.type == 'income' %}Прихідна{% else %}Розхідна{% endif %} відомість</h5>
                </div>
                <div class="col-sm-12 col-lg-6 text-right">
                    <div class="btn-group">
                        {% csrf_token %}
                        <a class="btn btn-default" href="{% url 'notoriety-create' %}?type={{ object.type }}&base_notoriety={{ object.pk }}" style="margin-right: 10px;">Копіювати</a>
                        <button id="{{ object.pk }}" class="btn btn-default delete-notoriety" type="button"  style="margin-right: 10px;">Видалити</button>
                        <a class="btn btn-info" href="{% url 'notoriety-update' notoriety_pk=object.pk %}" style="margin-right: 10px;">Редагувати особовий рахунок</a>
                        <button class="btn btn-default" type="button" onclick="downloadNotorietyTemplate()" style="margin-right: 10px;">Вивантажити в Excel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>Власник</th>
                            <td>{% if object.type == 'income' and object.account.flat.owner %}<a href="{% url 'owner-detail' owner_pk=object.account.flat.owner.pk %}">{{ object.account.flat.owner.surname }} {{ object.account.flat.owner.name }} {{ object.account.flat.owner.father }}</a>{% else %}не указано{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Особовий рахунок</th>
                            <td>{% if object.type == 'income' %}<a href="{% url 'personal-account-detail' account_pk=object.account.pk %}">{{ object.account.number }}</a>{% else %}не указано{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Стаття</th>
                            <td>{{ object.article.name }}</td>
                        </tr>
                        <tr>
                            <th>Менеджер</th>
                            <td><a href="{% url 'user-detail' pk=object.manager.pk %}">{{ object.manager.surname }} {{ object.manager.name }} {% if object.manager.father %}{{ object.manager.father }}{% endif %}</a></td>
                        </tr>
                        <tr>
                            <th>Сума</th>
                            <td>{% if object.type == 'income' %}<span style="color: #4eb727;">{{ object.sum }}</span>{% else %}<span style="color: #bb1642;">-{{ object.sum }}</span>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Коментар</th>
                            <td>{{ object.comment }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('.delete-notoriety').on('click', function() {
        event.preventDefault();
        Swal.fire({
            title: 'Ви впевнені?',
            text: "Після видалення відомість неможливо буде повернути!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#A9A9A9',
            cancelButtonText: 'Скасувати',
            confirmButtonText: 'Видалити'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'get',
                        url: `/administrator-panel/notoriety/delete/${$(this).attr('id')}/`,
                        success: function (data) {
                            if (data['answer'] === 'success') {
                                Swal.fire({
                                        position: 'top-end',
                                        icon: 'success',
                                        title: 'Успішно видалено!',
                                        showConfirmButton: false,
                                        timer: 1200,
                                    }).then((result) => {
                                        window.location.href = "{% url 'notorieties' %}";
                                })
                            }
                            else {
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'error',
                                    title: 'Щось пішло не так!',
                                    showConfirmButton: false,
                                    timer: 1200
                                });
                            }
                        }
                    })
                }
            })
    })

    function downloadNotorietyTemplate() {
        let notoriety = {{ object.pk }};
        $.ajax({
            url: `{% url 'notoriety-template-download' %}`,
            type: 'POST',
            headers: {
                'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()
            },
            data: {
                'notoriety': notoriety
            },
            success: function(data) {
                if (data['answer'] === 'success') {
                    window.location = data['file_path'];
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Очікуйте файл до завантаження!',
                        showConfirmButton: false,
                        timer: 1200,
                    })
                }
                else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Щось пішло не так!',
                        showConfirmButton: false,
                        timer: 1200
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Щось пішло не так!',
                    showConfirmButton: false,
                    timer: 1200
                });
            }
        })
    }
</script>
{% endblock %}