{% extends 'main_page.html' %}
{% load static %}

{% block title %}
    <title>Заявки</title>
{% endblock %}

{% block content_header %}
    <h1>Виклик майстра</h1>
{% endblock %}

{% block main_content %}
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-sm-12 text-right">
            <a href="{% url 'owner-application-create' %}" class="btn btn-success">Створити заявку</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>№ заявки</th>
                        <th>Тип майстра</th>
                        <th>Опис</th>
                        <th>Зручний час</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.pk }}</td>
                            <td>{{ object.get_master_type_display }}</td>
                            <td>{{ object.description }}</td>
                            <td>{{ object.desired_date|date:'d.m.Y' }} - {{ object.desired_time|date:'H:i' }}</td>
                            <td>
                                {% if object.status == 'new' %}<span class="badge badge-info">{{ object.get_status_display }}</span>
                                {% elif object.status == 'in work' %}<span class="badge badge-warning">{{ object.get_status_display }}</span>
                                {% else %}<span class="badge badge-success">{{ object.get_status_display }}</span>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <button id="{{ object.pk }}" type="button" {% if object.created_by_director %}disabled{% endif %} class="btn btn-default delete-application" href="#"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('.delete-application').on('click', function (event) {
        Swal.fire({
            title: 'Ви впевнені?',
            text: "Після видалення заявку неможливо буде повернути!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#A9A9A9',
            cancelButtonText: 'Скасувати',
            confirmButtonText: 'Видалити'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `delete/${$(this).attr('id')}/`,
                        type: 'GET',
                        success: function (response) {
                            if (response['answer'] === 'success') {
                                $(event.target).closest('tr').remove();
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Успішно видалено!',
                                    showConfirmButton: false,
                                    timer: 1200,
                                })
                            }
                            else {
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'error',
                                    title: response['answer'],
                                    showConfirmButton: false,
                                    timer: 1200
                                });
                            }
                        }
                    })
                }
            })
    })
</script>
{% endblock %}