{% extends 'main_page.html' %}
{% load static %}

{% block title %}
    <title>Квитанція</title>
{% endblock %}

{% block content_header %}
    <h1>Перегляд квитанції: #{{ object.number }}</h1>
{% endblock %}

{% block main_content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a href="{% url 'owner-receipt-print' receipt_pk=object.pk %}" type="button" class="btn btn-info"><i class="fa fa-print"></i>  Роздрукувати</a>
                </div>
            </div>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Послуга</th>
                        <th>Кількість споживання (розхід)</th>
                        <th>Од. вим.</th>
                        <th>Ціна за од., грн</th>
                        <th>Вартість, грн</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receipt_service in object.receiptservices.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ receipt_service.service.name }}</td>
                            <td>{{ receipt_service.amount|floatformat:2 }}</td>
                            <td>{{ receipt_service.service.measurement_unit.name }}</td>
                            <td>{{ receipt_service.price|floatformat:2 }}</td>
                            <td>{{ receipt_service.total_price|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5"></td>
                        <td><b>Разом: {{ object.summ|floatformat:2 }}</b></td>
                    </tr>
                </tfoot>
            </table>
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-12 text-right">
                    {% csrf_token %}
                    <button id="to-pdf-button" type="button" class="btn btn-warning" style="margin-right: 5px;"><i class="fa fa-file-pdf"></i>  Завантажити в PDF</button>
                    <a href="https://google.com" class="btn btn-success"><i class="fa fa-credit-card"></i> Оплатити</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('#to-pdf-button').on('click', function() {
        $.ajax({
            type: 'POST',
            url: '{% url 'build-receipt-file' %}?receipt={{ object.pk }}',
            headers: {
                'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()
            },
            success: function(data) {
                if (data['answer'] === 'success') {
                    let file_path = data['full_path'];
                    let file_name = data['file_name'];
                    getExcelToPdf(file_path, file_name);
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Щось пішло не так!',
                    showConfirmButton: false,
                    timer: 1200
                });
            }
        })
    })

    function getExcelToPdf(file_path, file_name) {
        if (file_path) {
            $.ajax({
                type: 'GET',
                url: `{% url 'receipt-to-pdf' %}?file_path=${file_path}&file_name=${file_name}`,
                success: function(data) {
                    if (data['answer'] === 'success') {
                        window.open(data['file_path'], '_blank');
                    }
                    else {
                        Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: data['answer'],
                        showConfirmButton: false,
                        timer: 1200
                        });
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Щось пішло не так!',
                        showConfirmButton: false,
                        timer: 1200
                    });
                }
            })
        }
    }
</script>
{% endblock %}